body {
    background:	#f0a6bb;
    padding-top: 20px;
    width: 100%
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 3px;
    line-height: 4px;
    color: #e91751;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 3px;
    line-height: 4px;
    color: #e91751;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 3px;
    line-height: 4px;
    color: #e91751;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #ffff;
    line-height: 28px;
    font-weight: 3px;
    width: 465px;
    height: 200px;
}

ul{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #ffff;
    line-height: 28px;
    font-weight: 3px;
}

img {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 20%;
    position: center;
}
